@font-face {
    font-family: LatoRegular; /* Имя шрифта */
    src: url(../fonts/LatoRegular.ttf); /* Путь к файлу со шрифтом */

}

@font-face {
    font-family: LatoBold; /* Имя шрифта */
    src: url(../fonts/LatoBold.ttf); /* Путь к файлу со шрифтом */

}

@font-face {
    font-family: LatoLight; /* Имя шрифта */
    src: url(../fonts/LatoLight.ttf); /* Путь к файлу со шрифтом */

}

@font-face {
    font-family: MC Sans serif Regular; /* Имя шрифта */
    src: url(../fonts/micross.ttf); /* Путь к файлу со шрифтом */

}

.clear{
    clear:both;
}

.header-wrapper{
    width:100%;
    min-height: 100vh;
    padding-bottom: 20px;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.center-block-header{
    margin:0px auto;
    width:75%;

}

.wrapper-logo-menu{
    padding-top:20px;
    width:100%;
    height:68px;
}

.logo{
    float:left;
    width:155px;
    height:68px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
}

.nav{
    float:right;
    width:500px;
    height:68px;
}

.nav ul li{
    float:right;
    display:inline-block;
}

.nav ul li a{
    margin-left:45px;
    text-decoration: none;
    font-family: LatoRegular;
    font-size: 16px;
    color:#fff;
    line-height: 68px;
}

.nav ul li a:hover{
    color:#FF635E;
    border-bottom: 3px solid #FF635E;
}

.studing-university-wrapper{
    margin-top:120px;
    width: 100%;
    height:200px;
}

.line-left
{
    width:15%;
    margin-top:30px;
    float:left;

}

.line-right{
    width:15%;
    margin-top:30px;
    float:right;
}

.only-line{
    width:100%;
    height:8px;
    background-color: #fff;
    opacity:0.2;
}

.content-block{
    text-align: center;
    width:70%;
    float:left;;
    height:200px;
}

.text-1{
    font-family: MC Sans serif Regular;
    font-size: 51px;
    color:#fff;

}

.red-text{
    color:#FF635D;
}

.text-2{
    margin-top:20px;
    color:#fff;
    font-size: 24px;
    font-family: LatoLight;
}

.button{
    display: block;
    text-transform: capitalize;
    cursor:pointer;
    margin:35px auto 0px auto;
    font-size: 24px;
    color:#FF635D;
    line-height:55px;
    font-family: LatoLight;
    text-decoration: none;
    text-align: center;
    width:205px;
    height:55px;
    border:2px solid #FF635D;

    border-radius: 7px;
        -moz-border-radius:7px;
            -webkit-border-radius: 7px;

}

.button:hover{
  border-color: #FF3C35;
    color:#FF3C35;
}

.page-down{
    cursor:pointer;
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    line-height: 25px;
    color:#fff;
    width:25px;
    height:25px;
    background-color: #FF635D;
    border-radius:50%;
        -moz-border-radius:50%;
            -webkit-border-radius: 50%;
}
.page-down1{
    margin-top:65px;
    cursor:pointer;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    line-height: 25px;
    color:#fff;
    width:25px;
    height:25px;
    background-color: #FF635D;
    border-radius:50%;
        -moz-border-radius:50%;
            -webkit-border-radius: 50%;
 }

.page-down a{
   color:#fff;
   display:block;
   text-decoration: none;
}
.page-down1 a{
   color:#fff;
   display:block;
   text-decoration: none;
}
.page-down:hover{
  background-color: #FF3C35;

}

.subjects-wrapper{
    width:100%;
    min-height:100vh;
    padding-top: 40px;
}

.top-text{
    text-align: center;
    width: 73%;
    height:28px;
    color:#000;
    font-size: 24px;
    font-family: LatoLight;
    border-bottom: 1px solid #868686;
    margin: 0 auto;
    text-transform: uppercase;
}
.bottom-text{
    text-align: center;
    width:100%;

    margin-top:20px;
    color:#000;
    font-size: 18px;
    font-family: LatoLight;
}

.center{
    width:75%;
    margin:auto;
}
.test-bv{
    text-align: center;
}
.category{
    display: inline-block;
    text-align: center;
    margin-top: 70px;
    height: 265px;
    max-width: 215px;
    margin-right:20px;
}

.smile{
        cursor:pointer;
    margin:0px auto;
    width:101px;
    height:116px;
    background-image: url(../images/sm4r.png);
     -webkit-transition: background 500ms ease-out; /* Firefox */
        -moz-transition: background 500ms ease-out; /* WebKit */
        -o-transition: background 500ms ease-out; /* Opera */
            transition: background 500ms ease-out; /* Standard */
}

.smile:hover{
    background-image: url(../images/sm4w.png);
    -webkit-transition: background 500ms ease-out; /* Firefox */
        -moz-transition: background 500ms ease-out; /* WebKit */
        -o-transition: background 500ms ease-out; /* Opera */
            transition: background 500ms ease-out; /* Standard */
}
.smile2{
        cursor:pointer;
    margin:0px auto;
    width:101px;
    height:116px;
    background-image: url(../images/sm3r.png);
     -webkit-transition: background 500ms ease-out; /* Firefox */
        -moz-transition: background 500ms ease-out; /* WebKit */
        -o-transition: background 500ms ease-out; /* Opera */
            transition: background 500ms ease-out; /* Standard */
}

.smile2:hover{
    background-image: url(../images/sm3w.png);
    -webkit-transition: background 500ms ease-out; /* Firefox */
        -moz-transition: background 500ms ease-out; /* WebKit */
        -o-transition: background 500ms ease-out; /* Opera */
            transition: background 500ms ease-out; /* Standard */
}
.smile3{
        cursor:pointer;
    margin:0px auto;
    width:101px;
    height:116px;
    background-image: url(../images/sm2r.png);
     -webkit-transition: background 500ms ease-out; /* Firefox */
        -moz-transition: background 500ms ease-out; /* WebKit */
        -o-transition: background 500ms ease-out; /* Opera */
            transition: background 500ms ease-out; /* Standard */
}

.smile3:hover{
    background-image: url(../images/sm2w.png);
    -webkit-transition: background 500ms ease-out; /* Firefox */
        -moz-transition: background 500ms ease-out; /* WebKit */
        -o-transition: background 500ms ease-out; /* Opera */
            transition: background 500ms ease-out; /* Standard */
}
.smile4{
        cursor:pointer;
    margin:0px auto;
    width:101px;
    height:116px;
    background-image: url(../images/sm1r.png);
     -webkit-transition: background 500ms ease-out; /* Firefox */
        -moz-transition: background 500ms ease-out; /* WebKit */
        -o-transition: background 500ms ease-out; /* Opera */
            transition: background 500ms ease-out; /* Standard */
}
.smile4:hover{
    background-image: url(../images/sm1w.png);
    -webkit-transition: background 500ms ease-out; /* Firefox */
        -moz-transition: background 500ms ease-out; /* WebKit */
        -o-transition: background 500ms ease-out; /* Opera */
            transition: background 500ms ease-out; /* Standard */
}

.underline{
    width:190px;
    height:1px;
    background-color:#909090;
    margin:10px auto 0px auto;
}

.text-under-image{

    margin-top:20px;
    color:#909090;
    font-family: LatoLight;
    font-size:20px;
}

.water-text{
    margin-top:15px;
    color:#adadad;
    font-family: LatoLight;
    font-size:15px;
}
.container-3-block{
    background-image: url("../images/run.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.opacity-op{
    height: 63vh;
    width: 74%;
    display: inline-block;
    margin: 101px 0 0;
    border: 8px solid rgba(255, 255, 255, .3);
    position: relative;
}
.opacity-op .text-1{
    position: relative;
    top: 50%;
    margin-top: -25.5px;
    text-transform: uppercase;
}
.galery-op{
    width: 74%;
    text-align: center;
    font-size: 0;
    margin: 20px auto;
    height: 400px;
}
.gop{
    transition: all .8s;
}
.gop:hover{
    background-size: 110%;
}
.gop:hover .gop-text{
    opacity: 1;
    padding-top: 30px;
}
.gop-1, .gop-2{
    display: inline-block;
    margin: 1% 1%;
}
.gop-1{
    width: 23%;
    height: 50%;
}
.gop-2{
    width: 48%;
    height: 50%;
}
.gop-text{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 28px;
    background: rgba(252, 99, 94, .78);
    text-transform: uppercase;
    padding-top: 300px;
    opacity: 0;
    transition: all .8s;
}
.gop-text span{
    font-size: 18px;
    display: block;
    margin-top: 20px;
}
.up-btn{
    background: gray;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: all .8s;
}
/**/
.tes-1, .tes-2, .tes-3, .tes-4, .tes-5, .tes-6{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.tes-1{
    background-image: url("../images/ondr.png");
}
.tes-2{
    background-image: url("../images/ptca.png");
}
.tes-3{
    background-image: url("../images/tev.png");
}
.tes-4{
    background-image: url("../images/log.png");
}
.tes-5{
    background-image: url("../images/bjd.png");
}
.tes-6{
    background-image: url("../images/culture.png");
}
.container-4-block{
    background-image: url("../images/run.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.container-5-block{
    background-image: url("../images/run.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.container-6-block{
    background-image: url("../images/run.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.tes2-1, .tes2-2, .tes2-3, .tes2-4, .tes2-5, .tes2-6{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.tes3-1, .tes3-2, .tes3-3, .tes3-4, .tes3-5, .tes3-6{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.tes4-1, .tes4-2, .tes4-3, .tes4-4, .tes4-5, .tes4-6{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}


.tes2-1{
    background-image: url("../images/ecolog.png");
}
.tes2-2{
    background-image: url("../images/psyho.png");
}
.tes2-3{
    background-image: url("../images/metr.png");
}
.tes2-4{
    background-image: url("../images/philosophy.png");
}
.tes2-5{
    background-image: url("../images/comm.png");
}
.tes2-6{
    background-image: url("../images/polit.png");
}


.tes3-1{
    background-image: url("../images/english.png");
}
.tes3-2{
    background-image: url("../images/os.png");
}
.tes3-3{
    background-image: url("../images/business.png");
}
.tes3-4{
    background-image: url("../images/test.png");
}
.tes3-5{
    background-image: url("../images/alg.png");
}
.tes3-6{
    background-image: url("../images/zpz.png");
}


.tes4-1{
    background-image: url("../images/design.png");
}
.tes4-2{
    background-image: url("../images/game.png");
}
.tes4-3{
    background-image: url("../images/oop.png");
}
.tes4-4{
    background-image: url("../images/networks.png");
}
.tes4-5{
    background-image: url("../images/web.png");
}
.tes4-6{
    background-image: url("../images/db.png");
}
